.pyramid {
  /* float: left;
  shape-outside: polygon(310px 0px, 130px 405px, 558px 405px); */
  /* padding-right: 60px; */
  width: 340px;
  height: 250px;
}

.zone {
  border-top: 3px solid white;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
  color: black;
  background-blend-mode: darken;
  transition: 0.5s;
}

.zone:nth-child(1) {
  padding-top: 60px;
  padding-bottom: 20px;
  width: 33%;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.zone:nth-child(2) {
  width: 66%;
  clip-path: polygon(25% 0%, 75% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(25% 0%, 75% 0, 100% 100%, 0% 100%);
}

.zone:nth-child(3) {
  width: 100%;
  clip-path: polygon(16.5% 0, 83% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(16.5% 0, 83% 0, 100% 100%, 0% 100%);
}
